.new-tweet {
  width: 100%;
  padding-bottom: 20px;
}

#tweetArea {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
}

#tweet-text {
  background-color: #f4f1ec;
  border-bottom: 3px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  color: #545454;
}

#tweetcount {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  font-size: 15px;
}

#tweet_button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 15px;
}

